.thanks {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #24C8BC;
    border-radius: 50%;
  }

  &__title {
    line-height: 41px;

    &_mt-30 {
      margin-top: 30px;
    }
  }

  &__subtitle {
    max-width: 633px;
    text-align: center;

    &_mt-16 {
      margin-top: 16px;
    }
  }

  &__button {
    &_mt-24 {
      margin-top: 24px;
    }
  }
}