.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  cursor: pointer;
  transition: .25s;

  &.white {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    &:hover {
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F7F7F7 100%);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      transition: .25s;

      & ::v-deep path {
        fill: #FF6100;
        transition: .25s;
      }
    }
  }

  &.green {
    background: #24C8BC;

    &:hover {
      background: #3bbbb1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      transition: .25s;
    }
  }
}