.article-page {
  &__title {
    max-width: 730px;
    width: 100%;

    &_mt-16 {
      margin-top: 16px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    &_mt-60 {
      margin-top: 60px;
    }
  }

  &__content {
    max-width: 730px;
    width: 100%;
  }

  &__date {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    line-height: 19px;
    color: #4B535A;

    &_mt-24 {
      margin-top: 24px;
    }
  }

  &__image {
    & > img {
      border-radius: 12px;
      object-fit: cover;
    }
  }

  &__info {
    &_mt-60 {
      margin-top: 60px;
    }

    & > div {
      & ::v-deep {
        & > h2 {
          &:not(:first-child) {
            margin-top: 40px;
          }
        }

        & p {
          margin-top: 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #4B535A;

          & + p {
            margin-top: 0;
          }
        }

        & > ul,
        & > ol {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          margin-top: 24px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #4B535A;

          & li {
            display: flex;
            align-items: center;

            & > strong {
              font-weight: 700;
              font-size: 20px;
              line-height: 26px;
              color: #262626;
            }
          }
        }

        & > ul {
          & li {
            &::before {
              display: block;
              content: '';
              flex-shrink: 0;
              margin: 0 10px;
              width: 3px;
              height: 3.6px;
              background: #4B535A;
              border-radius: 50%;
            }
          }
        }

        & > ol {
          counter-reset: list 0;

          & li {
            display: block;

            &::before {
              content: counter(list) '.';
              padding-right: 5px;
              counter-increment: list;
              font-weight: 700;
              font-size: 20px;
              line-height: 26px;
              color: #262626;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1014px) {
  .article-page {
    &__body {
      flex-wrap: wrap;
    }

    &__content {
      max-width: 100%;
    }
  }
}