.about-company {
  display: flex;
  justify-content: space-between;
  gap: 25px 15px;
  margin-top: 83px;

  &__left {
    max-width: 510px;
    width: 100%;
  }

  &__right {
    flex-shrink: 0;
    width: 569px;
    height: fit-content;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 15px;

    &_mt-12 {
      margin-top: 12px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    &_mt-24 {
      margin-top: 24px;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      font-size: 16px;
      line-height: 24px;
      color: #4B535A;

      & li {
        display: flex;
        align-items: center;

        &::before {
          display: block;
          content: '';
          margin: 0 10px;
          width: 3px;
          height: 3.6px;
          background: #4B535A;
          border-radius: 50%;
        }
      }
    }
  }

  &__count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &_mt-35 {
      margin-top: 35px;
    }

    &-item {
      text-align: center;
    }

    &-num {
      font-weight: 600;
      font-size: 33px;
      line-height: 49px;
      color: #24C8BC;
    }

    &-text {
      max-width: 116px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #4B535A;

      &_mt-2 {
        margin-top: 2px;
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .about-company {
    flex-direction: column;

    &__left {
      max-width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}